<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/apple-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>RENКCOLT - Партнеры</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/material-kit.css" rel="stylesheet" />
    <link href="assets/css/partners.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/ext.css">
    <link rel="stylesheet" type="text/css" href="assets/css/ext2.css">
</head>

<body class="landing-page">
    <nav class="navbar navbar-white navbar-warning navbar-absolute" id="cs29">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo-container text-center">
                    <a href="index.html">
                        <div class="logo">
                            <img src="assets/img/res/logo2.png" height="90" alt="RENCOLT" rel="tooltip" title="<b>RENCOLT</b> was Designed & Coded with care by the staff from <b>IUTLab</b>" data-placement="bottom" data-html="true">
                        </div>
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="col-md-3">
                            <a href="index.html" id="cs1" class="btn btn-simple">
                            ГЛАВНАЯ
                            
                        </a>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-3 dropdown">
                            <a href="#" id="cs1" class="btn btn-simple  dropdown-toggle" data-toggle="dropdown">
                            КАТАЛОГ
                                <b class="caret"></b>
                                </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="product_list.html">ПРОДУКТЫ</a></li>
                                <li><a href="product_list.html">ОБЪЕКТЫ</a></li>
                                <li><a href="video.html">ВИДЕО</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-3 dropdown">
                            <a href="#" id="cs1" class="btn btn-simple  dropdown-toggle" data-toggle="dropdown">
                            ИНФОРМАЦИЯ
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="product_list.html">ТРАВЕРТИН</a></li>
                            <li><a href="product_list.html">ЭМУЛЬСИЯ</a></li>
                            <li><a href="product_list.html">ОТТОЧЕНТО КРАСКА</a></li>
                        </ul>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-3">
                            <a href="#" id="cs1" class="btn btn-simple">
                            ПАРТНЕРЫ 
                                
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-3">
                            <a href="#" id="cs1" class="btn btn-simple">
                            О НАС
                            
                        </a>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-3 dropdown">
                            <a href="#" id="cs1" class="btn btn-simple  dropdown-toggle" data-toggle="dropdown">
                            РУС
                            <b class="caret"></b>
                        </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">UZB</a></li>
                                <li><a href="#">ENG</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 navbar-right">
                        <ul class="nav navbar-nav navbar-right" id="cs2">
                            <li id="cs12">
                                <a href="components-documentation.html" target="_blank" id="cs1" class="btn btn-simple  dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons fadeIn animated infinite">phone</i>&ensp;+998 97 777 44 14  &emsp; +998 77 441 44 55
                            
                        </a>
                            </li>
                            <li>
                                <div class="form-group label-floating has-success">
                                    <label class="control-label">Поиск</label>
                                    <input type="text" class="form-control" />
                                    <span class="form-control-feedback">
                                    <i class="material-icons animated infinite swing">search</i>
                                </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="wrapper" id="cs2">
        <div class="main main-raised">
            <div class="container">
                <div class="section  section-landing container">
                    <div class="row">
                        <div class="col-md-12" id="cs22">
                            <div class="row" id="row1">
                                <div class="col-md-3">
                                  <div class="item">
                                       <img src="https://www.muic.uz/thumb/view/w/150/h/120/src/uploads/resident/cbb4ed58de854707da6c85e63f295784.png" class="img-responsive partner-image" alt="">
                                     <h3>ЧП «Micros Development»</h3>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="item">
                                       <img src="https://www.muic.uz/assets/public/images/resident-logo.png" class="img-responsive partner-image" alt="">
                                     <h3>ЧП «Special Soft»</h3>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="item">
                                       <img src="https://www.muic.uz/thumb/view/w/150/h/120/src/uploads/resident/2e0812e9cfa8cc919c32b09924f80ed7.png" class="img-responsive partner-image" alt="">
                                     <h3>ЧП «Datasite Technology»</h3>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="item">
                                       <img src="https://www.muic.uz/thumb/view/w/150/h/120/src/uploads/resident/aa88d66cfe837518ce8f8d2739daced7.png" class="img-responsive partner-image" alt="">
                                     <h3>ООО «Smart Technologies Group»</h3>
                                  </div>
                                </div>
                            </div> 
                            <div class="row" id="row2">
                               <div class="col-md-3">
                                  <div class="item">
                                     <img src="https://www.muic.uz/thumb/view/w/150/h/120/src/uploads/resident/9918b02d7d7faf29fd4981d3a9983dbe.png" class="img-responsive partner-image" alt="">
                                     <h3>ООО «Prime Media Solution»</h3>
                                  </div>
                               </div>
                               <div class="col-md-3">
                                  <div class="item">
                                     <img src="https://www.muic.uz/thumb/view/w/150/h/120/src/uploads/resident/046c8544a2fa0bd9c4057b706b9b0b96.png" class="img-responsive partner-image" alt="">
                                     <h3>ООО «Business Triangle»</h3>
                                  </div>
                               </div>
                               <div class="col-md-3">
                                  <div class="item">
                                     <img src="https://www.muic.uz/thumb/view/w/150/h/120/src/uploads/resident/85ac4155a56fb0ec1141ed0689b2b6f5.png" class="img-responsive partner-image" alt="">
                                     <h3>ООО «SBS-Infosoft»</h3>
                                  </div>
                               </div>
                               <div class="col-md-3">
                                  <div class="item">
                                     <img src="https://www.muic.uz/thumb/view/w/150/h/120/src/uploads/resident/bbd92586a1c790d8f85401e9ac43dd0d.png" class="img-responsive partner-image" alt="">
                                     <h3>ООО «Intelligent Solutions»</h3>
                                  </div>
                               </div>
                            </div> 
                            <div class="row" id="row3">
                               <div class="col-md-3">
                                  <div class="item">
                                     <img src="https://www.muic.uz/assets/public/images/resident-logo.png" class="img-responsive partner-image" alt="">
                                     <h3>ООО «Leading Business Software»</h3>
                                  </div>
                               </div>
                               <div class="col-md-3">
                                  <div class="item">
                                     <img src="https://www.muic.uz/thumb/view/w/150/h/120/src/uploads/resident/31f11d3bcfee5a06d88d5661ee33ee15.png" class="img-responsive partner-image" alt="">
                                     <h3>ООО «Venkon Group»</h3>
                                  </div>
                               </div>
                               <div class="col-md-3">
                                  <div class="item">
                                     <img src="https://www.muic.uz/thumb/view/w/150/h/120/src/uploads/resident/45232a347a3661a754f113bcec82ebc0.png" class="img-responsive partner-image" alt="">
                                     <h3>ООО «Wiener Deming»</h3>
                                  </div>
                               </div>
                               <div class="col-md-3">
                                  <div class="item">
                                     <img src="https://www.muic.uz/thumb/view/w/150/h/120/src/uploads/resident/3f34f178b62436e07013c38f2250217b.png" class="img-responsive partner-image" alt="">
                                     <h3>ООО «Fof Soft Technology»</h3>
                                  </div>
                               </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="section landing-section" id="cs7">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <h2 class="text-left title" id="cs11">КАТЕГОРИИ</h2>
                        <h4 class="text-left description" id="cs11">Вы можете выбрать категории из нижнего списка</h4>
                        <form class="contact-form">
                            <div class="row">
                                <a href="info_detail.html" id="cs23">
                                <div class="col-md-12">
                                    
                                    <div class="form-group label-floating">
                                        <label class="control-label" id="cs11">КАТЕГОРИИ</label>
                                    </div>
                                    
                                </div>
                            </a>
                            <a href="info_detail.html" id="cs23">
                                <div class="col-md-12">
                                  
                                    <div class="form-group label-floating">
                                        <label class="control-label" id="cs11">КАТЕГОРИИ</label>
                                    </div>
                               
                                </div>
                                 </a> 
                                <a href="info_detail.html" id="cs23">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label" id="cs11">КАТЕГОРИИ</label>
                                    </div>

                                </div>
                            </a>
                            <a href="info_detail.html" id="cs23">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label" id="cs11">КАТЕГОРИИ</label>
                                    </div>
                                </div>
                            </a>
                            <a href="info_detail.html" id="cs23">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label" id="cs11">КАТЕГОРИИ</label>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <h2 class="text-left title" id="cs11">СВЯЗАТЬСЯ С НАМИ</h2>
                        <div class="card card-signup card-raised" id="cs19">
                            <form class="form" method="" action="">
                                <div class="content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">account_box</i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Имя">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons" id="cs20">phone</i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Ваш номер">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons" id="cs10">message</i>
                                        </span>
                                        <input type="text" value="" placeholder="Введитье текст..." class="form-control" />
                                    </div>
                                </div>
                                <div class="footer text-right">
                                    <a href="" class="btn btn-info btn-lg btn-simple">Отправить</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="copyright pull-right"><b>
                    &copy; Авторские права 2018 IUTLab. Все права защищены</b> <i class="fa fa-check-circle" id="cs10" aria-hidden="true"></i>
                </div>
            </div>
        </footer>
    </div>
    <!-- Modal Core -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Свяжитесь с нами</h4>
                </div>
                <div class="modal-body">
                    <h5 class="title">Заполнитье форму</h5>
                    <div class="content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                            <i class="material-icons">account_box</i>
                                        </span>
                            <input type="text" class="form-control" placeholder="Имя">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                            <i class="material-icons" id="cs8">phone</i>
                                        </span>
                            <input type="text" class="form-control" placeholder="Ваш номер">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                            <i class="material-icons" id="cs10">message</i>
                                        </span>
                            <input type="text" value="" placeholder="Введитье текст..." class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">ЗакрЫть</button>
                    <button type="button" class="btn btn-info">Отправить</button>
                </div>
                <hr>
            </div>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/material.min.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src="assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="assets/js/material-kit.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/js/slick.js"></script>
<script type="text/javascript" src="assets/js/jquery.plate.js"></script>
<script>
$(document).ready(function() {
    $('.demo').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        // prev arrow

        prevArrow: false,

        nextArrow: false,

        // Enables auto play of slides

        autoplay: true,

        autoplaySpeed: 2000,


    });
});

$('#plate-default').plate();
$('#plate-default2').plate();
</script>

</html>