.paddingTop{
        padding-top: 10px;
    }
 .paddingTop p{
 	font-size: 11px;
 }
#cs1{
	color: black!important;
}
#cs2{
	background-color: #f2f2f2;

}
#cs3{
	background-image: url('../../assets/img/res.png');
}
#cs4{
	color: red;
	animation-duration: 6s;
}
#cs5{
	background-color: white;
}
#cs6{
	color: lightblue; 
	animation-duration: 2s;
}
#cs7{
	background-color: #3b3b38;
}
#cs8{
	color: lightblue;
}
#cs9{
	color: orange;
}
#cs10{
	color: green;
}
#cs11{
	color: white;
}
#cs12{
	padding-top: 25px;
}
#cs13{
	height: 5px;
}
#cs14{
	padding-top: 20px;
}
#cs15{
	width: 100%; 
	height: 120px; 
	white-space:nowrap; 
	display: block; 
	overflow-x: auto;

}
#cs16{
	overflow: auto; 
	height: 280px;
}
#cs17{
	color: black; 
	border-radius: 20px;
}
#cs18{
	color: orange; 
	animation-duration: 2s;
}
#cs19{
	border-radius: 30px;
}
#cs20{
	color: lightblue;
}
#cs21{
	background-color: #51c4f7; 
	color: white
}
#cs22{
	padding-top: 150px;
}
#cs23{
	text-decoration: none;
	color: black;
}
#cs24{
	width: 100%;
}
#cs25{
	width: 200px; 
	height: 200px;
}
#cs26{
	border-radius: 60px;
}

#cs27{
	width: auto;
}
#cs28{
	background-image: url(../../assets/img/about.png);
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
#cs29{
	padding-top: 70px;
}
#cs30{
	width: 80%; 
	height: 80%;
}
#cs31{
	padding-top: 40px;
}