.partner-image{
	position:relative; 
	margin:0 auto;
	padding-top:10px; 
	  
}

.item{
	height:240px;
	background:#fff; 
	padding-left:15px; 

}

.item:hover{
	transition: all 0.3s ease-in-out;
	box-shadow:3px 3px 8px 0px grey; 
	border-bottom-right-radius:25px;
}

h3{
	padding-top:30px;
	text-align:center;
	font-size:15px;   
}


#row1{
	padding-top:20px; 
}

#row2{
	padding-top:20px; 
}

#row3{
	padding-top:20px;
}